* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("images/banner.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 2% 3%;
}

nav img {
  width: 150px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 6px 12px;
}

nav ul a {
  color: white;
  text-decoration: none;
  position: relative;
}

nav ul a::after {
  content: "";
  height: 2px;
  width: 0%;
  display: block;
  background: #f44336;
  transition: 0.5s;
}

nav ul a:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  color: white;
  font-size: 62px;
  margin-bottom: 20px;
}

.text-box p {
  color: white;
  padding: 20px;
  margin-bottom: 2%;
}

.hero-btn {
  padding: 20px 20px;
  background: transparent;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.5s;
}

.hero-btn:hover {
  border: 1px solid red;
  background: red;
}
.cross {
  display: none;
}
@media (max-width: 700px) {
  .cross {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    padding: 0;
    font-size: medium;
    transition: 0.75s;
  }

  .cross:hover {
    font-size: large;
  }

  .nav-links li {
    display: block;
    padding: 10px 10px;
  }
  nav ul a {
    display: inline-block;
  }

  .nav-links {
    position: absolute;
    background: rgba(0, 214, 170, 1);
    top: 0;
    right: -200;
    transition: 0.5s;
    width: 200px;
    height: 100vh;
    z-index: 2;
    text-align: left;
  }
}

.course {
  width: 80%;
  margin: auto;
  text-align: center;
}

.course h1 {
  margin-top: 5%;
  font-size: 30px;
}

.course p {
  margin-bottom: 5%;
  padding: 10px;
  font-size: 18px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.course-col {
  flex-basis: 31%;
  background: rgba(0, 214, 170, 0.85);
  box-sizing: border-box;
  margin-bottom: 5%;
  border-radius: 10px;
  transition: 0/5s;
}

.course-col h3 {
  text-align: center;
  font-size: 30px;
  margin: 10px 0px 20px;
}

.course-col:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
